<doctype html>
<title>Exchangia</title>
<h2>Post new ticket ad</h2>
<form method="post" action="/add">
    <dl>
		<p>
			<input name="inputName" value="" type="text" placeholder="Name" autocomplete="off" required>
		</p>
		<p>
			<input name="inputEmail" value="" type="text" placeholder="Email" autocomplete="off" required>
		</p>
                <p>
                        <input name="inputPN" value="" type="text" placeholder="Phone Number" autocomplete="off" required>
                </p>
                <p>
                        <input name="inputFrom" value="" type="text" placeholder="From" autocomplete="off" required>
                </p>
                <p>
                        <input name="inputTo" value="" type="text" placeholder="To" autocomplete="off" required>
                </p>
		<p>
			<input name="inputTime" value="" type="text" placeholder="Time" autocomplete="off" required>
		</p>
                <p>
                        <input name="inputDate" value="" type="text" placeholder="Date" autocomplete="off" required>
                </p>
                <p>
                        <input name="inputTickets" value="" type="text" placeholder="Tickets" autocomplete="off" required>
                </p>
                <p>
                        <input name="inputPrice" value="" type="text" placeholder="Price" autocomplete="off" required>
                </p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>
