<doctype html>
<head>
<link rel=stylesheet type=text/css href="../static/styleAdd.css">
</head>
<div class="form-style-2">
<title>Exchangia</title>
<div class="form-style-2-heading">Post new ad</div>
<form method="post" action="/add">

    <label for="inputFrom"><span>From </span><select name="inputFrom" class="select-field">
<option value="Dhaka">Dhaka</option>
<option value="Chattagram">Chattagram</option>
<option value="Sylhet">Sylhet</option>
<option value="Rajshahi">Rajshahi</option>
<option value="Khulna">Khulna</option>
</select></label>

    <label for="inputTo"><span>To </span><select name="inputTo" class="select-field">
<option value="Chattagram">Chattagram</option>
<option value="Dhaka">Dhaka</option>
<option value="Sylhet">Sylhet</option>
<option value="Rajshahi">Rajshahi</option>
<option value="Khulna">Khulna</option>
</select></label>

    <label for="inputTime"><span>Time </span><select name="inputTime" class="select-field">
<option value="Morning">Morning</option>
<option value="Noon">Noon</option>
<option value="Night">Night</option>
</select></label>

    <label for="inputDate"><span>Date <span class="required"></span></span><input type="date" name="inputDate" class="input-field" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" title="Date in this formart YYYY-MM-DD"/>

    <label for="inputTickets"><span>Tickets <span class="required"></span></span><input type="number" class="input-field" name="inputTickets" value="" placeholder="Total tickets" /></label>

    <label for="inputPrice"><span>Price <span class="required"></span></span><input type="number" class="input-field" name="inputPrice" value="" placeholder="Total price" /></label>
    
    <label><span> </span><input type="submit" value="Submit" /></label>
</form>
</div>
